.jumbotron {
  background-color: #e3e3e3;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.background-about {
  background-image: url(../images/team-about-us.png);
  background-color: #ffff9c;
  background-size: cover;
  background-repeat: repeat-x;
  background-position: left center;
  height: 100%;
  text-shadow: 0 0 10px white;
}
.jcontacto {
  background-color: #ffd1d1;
}
.jprecios {
  background-color: #c2ffbf;
}
.card-paquete {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f2f2f2;
  margin-top: 10px;
  margin-bottom: 0px;
}
