@gray: #e3e3e3;
@yellow: #ffff9c;
@red: #ffd1d1;
@green: #c2ffbf;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @gray;
  color: black;
  .margenes(50px, 0px);}

.background-about {
  background-image: url(../images/team-about-us.png);
  background-color: @yellow;
  background-size: cover;
  background-repeat: repeat-x;
  background-position: left center;
  height: 100%;
  text-shadow: 0 0 10px white; }

.jcontacto {
  background-color: @red; }

.jprecios {
  background-color: @green; }

.card-paquete {
  flex: 1 200px;
  .margenes(10px, 0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f2f2f2;
  .margenes(10px, 0px);}
